section {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    margin: 0.5rem 11rem;
    background-color: white;
    align-items: flex-start;
}

h1 {
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

h3 {
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.signUpButton {
    width: 350px;
}

.textField {
    width: 350px;
}

.datePicker {
    width: 350px;
}